.wrapper {
  width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ball {
  width: 550px;
height: 240px;
  background: #c00;
  z-index: -1;
  position: absolute;
  transition: transform 1s;
  
}

/* .animationc:active {
width: 500px;
height: 220px;
color: black;
  transform: translate(0, 100px);
  transition: transform 1s;
} */