.updateform{
    height: auto;
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(-50px, -50px);
    background-color: blueviolet;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 7px 5px rgb(67, 66, 66);
}

.updateform input,select{  
    margin-bottom: 20px;
}
.updateform button{
 margin-top: 10px;
 margin-right: 10px;
}

